@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-gray-900 bg-white;
  }
}

/* Custom Animations */
@keyframes pan-zoom {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

.animate-pan-zoom {
  animation: pan-zoom 20s infinite alternate linear;
}

@keyframes scroll-down {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(10px); opacity: 0; }
}

.animate-scroll-down {
  animation: scroll-down 1.5s infinite;
}
